

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    --main-color: #1992d4;
    --secondary-color: #e2e8f0;
    --text-color: #ffffff;
}

.container{
    display: grid;
    grid-template-columns: max-content 4fr;
    grid-template-rows: 1fr 5fr;
    height: 100vh;
}

.sidebar{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content min-content min-content;
    grid-column: 1;
    grid-row: 1/-1;
    background-color: var(--main-color);
    color: white;
    align-items: start;
    padding-left: 20px;
    padding-right: 20px;
    gap: 50px;
    z-index: 2;
}

.title,.second-group,.third-group{
    display: grid;
    grid-template-columns: 1fr 8fr;
    gap: 20px;
    align-items: center;
}

.title{
    font-size: 2rem;
    padding-top: 10px;
}

.title>svg{
    transform: scale(1.8);
}

.topbar{
    grid-column: 2/-1;
    grid-row: 1;
    display: grid;
    grid-template-rows: repeat(2,0.5fr);
    padding: 10px 40px;
    gap: 20px;
    box-shadow: 0px 2px 10px 0px #bec4ca;
    z-index: 1;
}

.first-row{
    grid-row: 1;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
}

.second-row{
    grid-row: 2;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
    align-items: center;
}

.search-part{
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
    align-items: center;
}

#search{
    border-radius: 20px;
    border: none;
    height: 30px;
    background-color: var(--secondary-color);
    width: 90%;
}

.profile-part{
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-weight: 800;
}

.user-part{
    grid-column: 1;
    display: grid;
    grid-template-columns: auto 5fr;
    align-items: center;
    font-weight: 800;
    gap: 10px;
}

.hello>:first-child{
    font-size: 0.8rem;
}

.hello>:last-child{
    font-size: 1.5rem;
}

.propic.small>img{
    height: 50px;
}

.propic.big>img{
    height: 80px;
}

.propic>img{
    border-radius: 100%;
}

.buttons-group{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    align-items: center;
}

.rounded-button{
    height: 35px;
    width: 90px;
    border-radius: 20px;
    border: none;
    background-color: var(--main-color);
    color: var(--text-color);
}

.cards-container{
    grid-column: 2;
    grid-row: 2 / -1;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: var(--secondary-color);
}

.projects{
    grid-column: 1;
    grid-row: 1 / -1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

.section-title{
    grid-column: 1 / -1;
    font-size: 1.5rem;
}

.card{
    border: 2px solid yellow;
    border-radius: 10spx;
    padding: 10px 20px;
}

.announcements{
    background-color: purple;
}

.trending{
    background-color: yellow;
}